---
layout: default
---

<div class="home">
<h1 class="home-name">Nico Varaschin</h1>

      <div class="">
      {% if site.lang == "en" %}
        <p>{{ site.description }}</p>
      {% else %}
        <p>{{ site.description_es}}</p>
      {% endif %}
      </div>
  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="li-post-name">
      <div class="post-list-container">
        <div class="div-post-name">
        <h2>
          # <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        </div>
        <div class="div-post-cat">
          {% for cat in post.categories %}
            <span class="post-cat">{{cat}}</span>
          {% endfor %}
        </div>

        </div>

      </li>
          <hr>

    {% endfor %}
  </ul>
      {% if site.lang == "en" %}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {% else %}
        <p class="rss-subscribe">suscribirse <a href="{{ "/feed.xml" | relative_url }}">por RSS</a></p>
      {% endif %}


</div>
