---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

    <span class="reading">
      {% if page.reading %}
        Estimated reading time: {{page.reading}} mins
      {% else %}
        {% assign words = content | number_of_words %}
        Estimated reading time: {{words | divided_by: 190 | round}} mins
      {% endif %}
    </span>

    <time class="post_date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %Y" }}</time>

    </p>
  </header>

  <div class="post-content {{page.class}}" itemprop="articleBody" ng-controller="{{page.controller}}">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
