<div style="width:100%;" >
<highchart ng-if="$scope.peso" id="pesoChart" config="$scope.pesoChartConfig" ></highchart>
<highchart ng-if="$scope.altura" id="alturaChart" config="$scope.alturaChartConfig" class="span10"></highchart>
<highchart ng-if="$scope.imc"  id="imcChart" config="$scope.imcChartConfig" class="span10"></highchart>
<br>
</div>

<div class="row">
<div class="col-md-12" style="text-align:center;">
<div class="btn-group">
<label class="btn btn-default-clear" ng-class="{'active':$scope.peso}" ng-click="$scope.selectGroupValoresAntropometricos('peso')" >Peso</label>
<label class="btn btn-default-clear" ng-class="{'active':$scope.altura}" ng-click="$scope.selectGroupValoresAntropometricos('altura')" >Altura</label>
<label class="btn btn-default-clear" ng-class="{'active':$scope.imc}" ng-click="$scope.selectGroupValoresAntropometricos('imc')" >Imc</label>
</div>
</div>
</div>
