<footer class="site-footer">
        <ul class='footer-list'>
        <span class='footer-left'>
          <li >
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li ><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            </span>
            <li class='footer-right'>
              {% include icon-linkedin.html username=site.linkedin_username %}
            </li>
          {% if site.github_username %}
            <li class='footer-right'>
              {% include icon-github.html username=site.github_username %}
            </li>
          {% endif %}

            <li class='footer-right'>
              {% include icon-cv.html username=site.cv %}
            </li>
        </ul>
</footer>
