<div class="fancy-group">

{% for x in include.images %}
{% if include.lang == 'es' %}
<a class='fancybox-thumb' id="{{ x.id }}" title="{{ x.description_es }}"   data-thumb="{{ x.url }}" href="{{ x.url }}" rel="{{ x.group }}">
<img alt="{{ x.id }}" src="{{ x.url }}">
<span class="fancy-caption">{{ x.description_es }}</span>
</a>
{% else %}
<a class='fancybox-thumb' id="{{ x.id }}" title="{{ x.description_en }}"   data-thumb="{{ x.url }}" href="{{ x.url }}" rel="{{ x.group }}">
<img alt="{{ x.id }}" src="{{ x.url }}">
<span class="fancy-caption">{{ x.description_en }}</span>
</a>
{% endif %}


{% endfor %}

</div>
