---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*
Esto esta en minima.css, lo pongo aca para ver los valores que existen nomas

@charset "utf-8";
$base-font-family: "Product Sans",
Helvetica,
Arial,
sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
// Width of the content area
$content-width: 1000px;
$on-palm: 600px;
$on-laptop: 1000px;
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}*/

@import "minima";


table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #000000;
    text-align: center;
    margin: auto;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
}

.mark-last-row tbody tr:last-child {
    background: gold;
    font-weight: bolder;
}

.table-note{
    display: table;
    margin: auto;
    font-size: small;
    font-style: oblique;
}

.fancybox-title-float-wrap .child{
    text-indent: 0em;
}


.mapas {
   /* Prevent vertical gaps */
   line-height: 0;
  text-indent:0px;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

.mapas img {
  /* Just in case there are inline attributes */
  width: 90% !important;
  height: auto !important;
  margin:5px;
  border:2px solid #000;
}

@include media-query($on-laptop) {
  .mapas {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

@include media-query($on-palm) {
  .mapas {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body {
  margin: 0;
  padding: 0;
}
