---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*
Esto esta en minima.css, lo pongo aca para ver los valores que existen nomas

@charset "utf-8";
$base-font-family: "Product Sans",
Helvetica,
Arial,
sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
// Width of the content area
$content-width: 1000px;
$on-palm: 600px;
$on-laptop: 1000px;
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}*/



@import "minima";

body {
  margin: 0;
  padding: 0;
  font-size:16px;
}

.page-content{
  background-color: #eceff1;
}

.wrapper {
  background-color: #fff;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 110px;
  padding-left: 110px;
      border-radius: 20px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: auto;
}
td{
    border:1px solid #ddd;
}

.mark-last-row tbody tr:last-child {
    background: gold !important;
    font-weight: bolder;
}

.table-note{
    display: table;
    margin: auto;
    font-size: small;
    font-style: oblique;
}

.fancybox-title-float-wrap .child{
    text-indent: 0em;
}


.mapas {
   /* Prevent vertical gaps */
   line-height: 0;
   text-indent:0px;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           0px;
}

.mapas img {
  /* Just in case there are inline attributes */
  width: 90% !important;
  height: auto !important;
  margin:5px;
  border:2px solid #000;
}

.mapa-container{
      text-align: center;
          margin: auto;
    width: 80%;
}
.eci-graf {
   line-height: 0;
   text-indent:0px;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   display: table;
   text-align: center;
}

.eci-graf img {
  width:30%;
  margin:5px;
  border:2px solid #000;
}

.fancy-group{
   line-height: 0;
   text-indent:0px;
   display: flex;
   text-align: center;
   justify-content: center;

}
.fancy-group a{
  text-decoration: none;
  }
.fancy-caption{
    display: block;
    margin: 10px;
    padding: 10px;
    color: grey;
    font-style: italic;
    font-size: small;
}
.fancy-group img{
    width:90%;
    border-radius: 20px;
  margin:5px;
  border:2px solid #000;
}
@include media-query($on-laptop) {
  .mapas {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

@include media-query($on-palm) {
  .mapas {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


.tiny-link {
  color: black;
  /*font-size: x-small;*/
  /*text-decoration: underline;*/
  display: table;
  margin: 10px auto;
}

.waka {
  display: block;
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;

}

.waka::-webkit-scrollbar {
  background-color: #F5F5F5;
}
.waka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #336b87;
}
.waka::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
.tabla > table{
    background-color: rgba(217, 238, 249, 0.75);
    border:2px solid rgb(51, 51, 51);
    text-align:left;
}
.tabla > table thead tr th {
      padding-right: 10px;
}
.tabla > table tbody tr td {
      text-indent: 0;
    padding-left: 10px;
    padding-right: 10px;
}


.tabla > table tbody tr:nth-child(odd) {
   background-color: #fff;
}

.ng-table-scrollcontainer>table {
    border: 2px solid;
    text-indent:0px;
    background-color: rgba(217, 238, 249, 0.75);
}

.ng-table-scrollcontainer>table>tbody>tr>td {
    font-size: 12px;
}

.azul {
  color: #616161 !important;
}

.azuloscuro {
  color: #0008ff !important;
  font-weight: bolder;
}

.filtros{
  border: 2px solid lightgray;
  margin-bottom: 10px !important;
}

.material-switch{
  margin:auto;
}
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;

}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    content: '';
    height: 8px;
    margin-top: -4px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 20px;
    left:10px;
    text-indent:0px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 14px;
    left: 4px;
    margin-top: -12px;
    position: absolute;
    top: 4px;
    transition: all 0.3s ease-in-out;
    width: 14px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.list-group-item {
  padding: 5px 15px  !important;
  border : none !important;
  font-size:12px;
  text-indent:0px;
}

.list-group {
  margin:auto;
}
.material-icons {
    text-indent: 0;
  }

.ng-table-counts {
  display: none;
}

.pagination{
  margin: auto;
  font-size: 10px;
  text-indent: 0px;
  margin-bottom: 20px;
  display: table
}

.post-header{
  margin-bottom: 50px;
  border-bottom: thin solid #dcdedf;
  padding-top: 80px;
}

h1{
  padding-top:30px;
}


.site-footer a{
    text-decoration:none;

}


.highlight{
  margin-top: -3px;
      text-indent: 0px;
      border-radius: 20px;
}

.highlight pre {
      border-radius: 20px;
    }

.highlight code {
      border-radius: 20px;
    }

.lang-python {
  background-color: crimson
}
